<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'game/styles.css' %}">
</head>
<body>
    <h1>Rock Paper Scissors</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="choice" value="rock">Rock</button>
        <button type="submit" name="choice" value="paper">Paper</button>
        <button type="submit" name="choice" value="scissors">Scissors</button>
    </form>
</body>
</html>
